<div class="session-account">
  <% if current_user %>
    <div class="session-saved-title">
      <div><h1 class="saved-headings">SAVED CARDS</h1></div>
      <div>
        <%= form_tag "/logout", method: 'delete' do %>
          <button class="session-buttons" id="session-user-btn"><h3><%= current_user.email %> LOGOUT</h3></button>
        <% end %>
      </div>
    </div>
    <div class="saved-cards-header" >
      <div class="cards-title"><h3>TITLE</h3></div>
      <div class="cards-recipient"><h3>RECIPIENT</h3></div>
      <div class="actions"><h3>ACTIONS</h3></div>
    </div>
    <div class="saved-card-list">
      <% @saved_cards.each do |card| %>
        <div class="saved-card" id="card_<%= card.id %>">
          <div class="saved-title"><p><%= (Title.find(card.title_id)).name %></p></div>
          <div class="saved-recipient"><p><%= card.recipient_name %></p></div>
          <div class="session-btn-options">
            <%= form_tag "/cards/#{card.id}/edit", method: 'get' do %>
              <button class="session-buttons" id="session-edit-btn">EDIT</button>
            <% end %>
            <%= form_tag "/cards/#{card.id}", method: 'delete' do %>
                <button button class="session-buttons" id="session-delete-btn">DELETE</button>
            <% end %>
            <%= form_tag "/cards/#{card.id}/send", method: 'get' do %>
              <button button class="session-buttons"id="session-send-btn">SEND</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="session-wrapper">

  <div class="session-left-box">
    <% if !logged_in? %>
      <h2 class="saved-headings">LOGIN</h2>
      <%= form_tag '/session', method: 'post' do %>
        <div class="session-inputs">
          <input type="input" placeholder="email"name="email" value="">
          <input type="password" placeholder="password" name="password" value="">
        </div>
        <div >
          <button class="session-buttons" id="login-signup-btn">LOGIN</button>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="session-right-box">
    <% if !logged_in? %>
      <%= form_tag '/session/new_user', method: 'post' do %>
        <h2 class="saved-headings" >SIGN UP</h2>
        <div class="session-inputs">
          <input type="input" placeholder="email" name="email" value="">
          <input type="password" placeholder="password" name="password" value="">
          <input type="password" placeholder="confirm password" name="password_confirmation" value="">
        </div>
        <div>
          <button class="session-buttons" id="login-signup-btn">SIGN UP</button>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<div class="info">
  <!--  return message from account creation-->
  <% if @errors %>
    <% @errors.each do |key, value| %>
      <p class="message" id="<%= @type %>">
      <%= key.to_s.upcase + " " + value.to_s %></p>
    <% end %>
  <% end %>
</div>
