
<div class="session-account">
  <% if current_user %>
    <h1 class="saved-headings">SAVED CARDS</h1>
    <div class="saved-headings saved-cards-header" >
      <div class="cards-title"><h3>TITLE</h3></div>
      <div class="cards-recipient"><h3>RECIPIENT</h3></div>
      <div class="actions"><h3>ACTIONS</h3></div>
    </div>
    <div class="saved-card-list">
      <% @saved_cards.each do |card| %>
        <div class="saved-card" id="card_<%= card.id %>">
          <div class="saved-title"><p><%= (Title.find(card.title_id)).name %></p></div>
          <div class="saved-recipient"><p><%= card.recipient_name %></p></div>
          <div class="session-btn-options">
            <%= form_tag "/cards/#{card.id}/edit", method: 'get' do %>
              <button>EDIT</button>
            <% end %>
            <%= form_tag "/cards/#{card.id}", method: 'delete' do %>
                <button>DELETE</button>
            <% end %>
            <%= form_tag "/cards/#{card.id}/send", method: 'post' do %>
              <button>SEND</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="session-wrapper">

  <div class="session-left-box">
    <% if !logged_in? %>
      <h2>LOGIN</h2>
      <%= form_tag '/session', method: 'post' do %>
        <div class="session-inputs">
          <input type="input" placeholder="email"name="email" value="">
          <input type="password" placeholder="password" name="password" value="">
        </div>
        <div class="session-buttons">
          <button>LOGIN</button>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="session-right-box">
    <% if !logged_in? %>
      <%= form_tag '/session/new_user', method: 'post' do %>
        <h2>SIGN UP</h2>
        <div class="session-inputs">
          <input type="input" placeholder="email" name="email" value="">
          <input type="password" placeholder="password" name="password" value="">
          <input type="password" placeholder="confirm password" name="password_confirmation" value="">
        </div>
        <div class="session-buttons">
          <button>SIGN UP</button>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<div class="info">
  <!--  return message from account creation-->
  <% if @errors %>
    <% @errors.each do |key, value| %>
      <p class="message" id="<%= @type %>">
      <%= key.to_s.upcase + " " + value.to_s %></p>
    <% end %>
  <% end %>
</div>


<div class="session-logout">
  <% if logged_in? %>
    <p>Logged in as <%= current_user.email %></p>
    <%= form_tag '/logout', method: 'delete' do %>
      <div class="session-buttons">
        <button>LOGOUT <%= current_user.email %></button>
      </div>
    <% end %>
  <% end %>
</div>
