<% @favours = Favour.all %>
<% @categories = @favours.collect{ |f| f.category }.uniq %>
<% @chosen_category = Favour.find_by( message: @card.message).category %>
<div class="content">

  <div class="box initial">
    <!-- Title, Category, Message -->

    <!-- <label for="title">Title</label> -->
    <p class="headings">CHOOSE A GIFT</p>
    <select class="input_t" name="title">
      <% Title.all.each do |title| %>
        <% if title.id == @card.title_id %>
          <option selected value="<%= title.id %>"> <%= title.name %></option>
        <%else%>
          <option value="<%= title.id %>"> <%= title.name %></option>
        <% end %>
      <% end %>
    </select>

    <label for="category">Category</label>
    <select class="category_select" name="category">
      <% @categories.each do |category| %>
        <% if category == @chosen_category %>
          <option selected value="<%= category %>"> <%= category %></option>
        <% else %>
          <option value="<%= category %>"> <%= category %></option>
        <% end %>
      <% end %>
    </select>

    <label for="message">Favour</label>
    <select class="input_msg" name="message">
      <% Favour.all.each do |favour| %>
        <% if favour.category == @chosen_category && favour.message == @card.message %>
          <option selected value="<%= favour.message %>"> <%= favour.message %> </option>
        <% elsif favour.category == @chosen_category %>
          <option value="<%= favour.message %>"> <%= favour.message %> </option>
        <% end %>
      <% end %>
    </select>
    <!-- <input id="choice-editor"name="favour-input"> -->

    <button class="next">Next</button>
  </div>

<div class="box">
    <!-- Search Image -->
    <p class="headings">SEARCH IMAGES</p>

    <!-- SEARCH BOX -->
    <div class="search_wrapper">
      <input type="input" id="search_input" placeholder="Find an image.." value="">
      <button class="search_btn">SEARCH</button>
    </div>

    <!-- CAROUSEL -->
    <div class="image-results your-class">

    </div>
    <div class="space"></div>

    <button class="prev">Back</button>
    <button class="next">Next</button>
  </div>

  <div class="box">
    <!-- <p>STEP THREE</p> -->
    <!-- Background Color Box with Preview -->
    <!-- <label for="background_col">Background Colour</label> -->
    <p class="headings">PICK A COLOUR</p>
    <input id="color_picker" class="input_col" type="color" name="background_col" value="<%= @card.background_col %>">


    <button class="prev">Back</button>
    <button class="next">Next</button>
  </div>

  <div class="box">
    <p class="headings">REVIEW</p>
    <!-- Recipient Name, Email and Sign-off/Signature -->

    <!-- <label for="recipient_name">To</label> -->
    <input name="recipient_name" placeholder="To" value="<%= @card.recipient_name %>">

    <!-- <label for="recipient_email">Email</label> -->
    <input name="recipient_email" placeholder="Email" value="<%= @card.recipient_email %>">

    <!-- <label for="sign_off">From</label> -->
    <input name="sign_off"  placeholder="Signature" value="<%= @card.sign_off %>">

    <button class="prev">Back</button>
    <input type="submit" name="action" value="Save">
    <input type="submit" name="action" value="Save and Send">
  </div>

</div>


<div class="preview-wrapper">
  <div class="preview">
    <div  class="background_col preview_col" style="background-color:<%= @card.background_col %>">
      <div class="background_img">
        <img height="400" width="600" class="preview_img" src="<%= @card.background_img %>"/>
        <input type="hidden" class="preview_img_name" name="background_img" value="<%= @card.background_img %>">
        <div class="card-text">
          <div class="card-title preview_t"><%= (Title.find(@card.title_id)).name %></div>
        </div>
      </div>
      <div class="card-message preview_msg"><%= @card.message %></div>
    </div>
  </div>
</div>

<!-- Stores the favours into an object so that when the category changes, the options for messages also changes -->
<script type="text/javascript">
  var favours = {
    <% @categories.each do |category| %>
    "<%=category%>": [],
    <% end %>
  }
  <% @favours.each do |favour| %>
  favours["<%= favour.category %>"].push( '<%= favour.message %>' );
  <% end %>

</script>
