<div class="content">

  <div class="box initial">
    <!-- Title, Category, Message -->

    <!-- <label for="title">Title</label> -->
    <p>STEP ONE</p>
    <select class="input_t" name="title">
      <% Title.all.each do |title| %>
      <!-- <option value="" disabled selected>Choose a Title..</option> -->
      <option value="<%= title.id %>"> <%= title.name %></option>
      <% end %>
    </select>

    <label for="category">Category</label>
    <select name="category">
      <% @categories = Favour.all.collect{ |f| f.category }.uniq %>
      <% @categories.each do |category| %>
      <option value="<%= category %>"> <%= category %></option>
      <% end %>
    </select>

    <label for="message">Favour</label>
    <select class="input_msg" name="message">
      <% Favour.all.each do |favour| %>
      <option value="<%= favour.message %>"> <%= favour.message %> </option>
      <% end %>
    </select>
    <!-- <input id="choice-editor"name="favour-input"> -->

    <button class="next">Next</button>
  </div>

<div class="box">
    <p>STEP TWO</p>
    <!-- Search Image -->

    <!-- SEARCH BOX -->
    <div class="search_wrapper">
      <input type="input" id="search_input" placeholder="Find an image.." value="">
      <button class="search_btn">SEARCH</button>
    </div>

    <!-- CAROUSEL -->
    <div class="image-results your-class"></div>
    <div class="space"></div>

    <button class="prev">Back</button>
    <button class="next">Next</button>
  </div>

  <div class="box">
    <p>STEP THREE</p>
    <!-- Background Color Box with Preview -->
    <label for="background_col">Background Colour</label>
    <input class="input_col" type="color" name="background_col" value="<%= @card.background_col %>">


    <button class="prev">Back</button>
    <button class="next">Next</button>
  </div>

  <div class="box">
    <p>STEP FOUR</p>
    <!-- Recipient Name, Email and Sign-off/Signature -->

    <!-- <label for="recipient_name">To</label> -->
    <input name="recipient_name" placeholder="To" value="<%= @card.recipient_name %>">

    <!-- <label for="recipient_email">Email</label> -->
    <input name="recipient_email" placeholder="Email" value="<%= @card.recipient_email %>">

    <!-- <label for="sign_off">From</label> -->
    <input name="sign_off"  placeholder="Signature" value="<%= @card.sign_off %>">

    <button class="prev">Back</button>
  </div>

</div>


<div class="preview-wrapper">
  <p>PREVIEW</p>
  <div class="preview">
    <div  class="background_col preview_col" style="background-color:<%= @card.background_col %>">
      <div class="background_img">
        <img height="400" width="600" class="preview_img" src="<%= @card.background_img %>"/>
        <input type="hidden" class="preview_img_name" name="background_img" value="<%= @card.background_img %>">
        <div class="card-text">
          <div class="card-title preview_t"><%= (Title.find(@card.title_id)).name %></div>
        </div>
      </div>
      <div class="card-message preview_msg"><%= @card.message %></div>
    </div>


  </div>
  <input type="submit" name="action" value="Save">
  <input type="submit" name="action" value="Save and Send">
</div>
