<h1>NEW CARD</h1>
<p>Find me in app/views/cards/new.html.erb</p>

<!-- <div class="box">
  Particular fields here
  <button class="back">Back</button>
  <button class="next">Next</button>
</div> -->

<form class="box-wrapper" action="/cards/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="box initial">
    <!-- To and From fields. -->
    <label for="title">Title</label>
    <select class="title" name="title">

      <% @titles.each do |title| %>
      <option value="<%= title.id %>"> <%= title.name %></option>
      <% end %>
    </select>

    <label for="recipient_name">To</label>
    <input name="recipient_name">

    <label for="recipient_email">Email</label>
    <input name="recipient_email">

    <label for="sender_name">From</label>
    <input name="sender_name">

    <button class="next">Next</button>
  </div>

  <div class="box">
    <!-- Category and Message Box -->
    <label for="category">Category</label>
    <select class="category" name="category">
      <% @categories.each do |category| %>
      <option value="<%= category %>"> <%= category %></option>
      <% end %>
    </select>

    <label for="message">Favour</label>
    <select class="favour-choice" name="message">
      <% Favour.all.each do |favour| %>
      <option value="<%= favour.id %>"> <%= favour.message %> </option>
      <% end %>
    </select>
    <!-- <input id="choice-editor"name="favour-input"> -->

    <button class="prev">Back</button>
    <button class="next">Next</button>
  </div>

  <div class="box">
    <!-- Background Color Box with Preview -->
    <label for="background_col">Background Colour</label>
    <input type="color" name="background_col" value="#46C1C2">


    <button class="prev">Back</button>
    <button class="next">Next</button>
  </div>

  <div class="box">
    <!-- Particular fields here -->
    <label for="background_img">Background Image</label>
    <select name="background_img">
      <% @background_images.each do |image| %>
      <option value="<%= image %>"> <%= image %> </option>
      <% end %>
    </select>

    <button class="prev">Back</button>
    <button class="next">Preview</button>
  </div>


  <div class="box">
    <!-- Preview Box -->
    <div class="preview">

    </div>

    <button class="prev">Back</button>
    <input type="submit" name="action" value="Save">
    <input type="submit" name="action" value="Save and Send">
  </div>


</form>
