<h1>SHOW PAGE</h1>


<div class="recipient_name"><%= @card.recipient_name %></div>
<div class="sign_off"><%= @card.sign_off %></div>
<div class="title"><%= @card.title %></div>
<div class="message"><%= @card.message %></div>
<div class="background_img"><%= @card.background_img %></div>
<div class="background_col"><%= @card.background_col %></div>
