<h1>SHOW PAGE</h1>



<div  style="background-color:<%= @card.background_col %>" class="background_col">
  <div class="background_img">
    <img height="400" width="600" src="<%= @card.background_img %>" />
    <div class="card-text">
      <div class="recipient_name"><%= @card.recipient_name %></div>
      <div class="card-title"><%= (Title.find(@card.title_id)).name %></div>
      <div class="card-message"><%= @card.message %></div>
    </div>
  </div>
</div>

<div class="sign_off"><%= @card.sign_off %></div>
